@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto',sans-serif;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    /*when an image flows out of a specified area, overflow property will handle it. Means whatever
    the area is out of the container by using hidden we will hide that.*/
    margin: 0;
}

/* will get applied to all the images*/
.container{
    display: flex;
    width: 90vw; /* to make responsive container according to the browser size*/
}

.panel{
    background-size: auto 100%; /* to preserve rounded corners on large screens*/
    background-position: center; /* for getting the center position of the image in the container*/
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    flex: 0.5; /* short hand property for grow, shrink and basis so when it will grow it will grow with .5 value*/
    margin: 10px; /* was too near the border*/
    position: relative;
    transition: flex 0.7s ease-in;
}

.panel h3 {
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0; /* when active it will be displayed*/
}

.panel.active{
    flex:5;
}

.panel.active h3{
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s; /* .4s on delay*/
}

@media(max-width: 480px){
    .container{
        width: 100vw; /* it will take full screen at small screen*/
    }

    .panel:nth-of-type(4),
    .panel:nth-of-type(5){
        display: none; /* last two elements of */
    }
}   