@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* by default element width and height is calculated width+padding+border so they appear bigger than their actual size*/

}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Open Sans',sans-serif;
    margin: 0;

}

.login-form{
    display: flex;
    
}

