@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Noto Sans JP',sans-serif;
    background-color: #333;
    color: #222;
    overflow-x: hidden; /* overflow-x only hides x axis scrollbar*/
    margin: 0;
}

.container{
    background-color: #fafafa;
    transform-origin: top left;
    transition: transform 0.5s linear; /* adding transition to transform property */
    width: 100vw;
    min-height: 100vh;
    padding: 50px;
}

.circle_container{
    position:fixed; /* to set the postion of the menu bar fixed at any postion of the page*/
    top: -100px;
    left: -100px;
}

.container.show-nav {
    transform: rotate(-20deg);
}

.circle{
    background-color: #ff7979;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: relative; /* so that we can postion the button inside absolute*/
    transition: transform 0.5s linear;
}

.circle button{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100px;
    background: transparent;
    border: 0;
    font-size: 26px;
    color: white;
}

.circle button:focus{
    outline: none;
}

.circle button#open{
    left: 60%;
    cursor: pointer;
}

.container.show-nav .circle{
    transform:rotate(-70deg)
}
.circle button#close{
    top: 60%; /* relative to the circle */
    transform: rotate(90deg);
    transform-origin: top left;
}

nav{
    position: fixed;
    bottom: 40px;
    left: 0;
    z-index: 100;
}

nav ul{
    list-style-type: none;
    padding-left: 30px;
}
nav ul li{
    text-transform: uppercase;
    color: #fff;
    margin: 40px;
    transform: translateX(-100%);
    transition: transform 0.4s ease-in;
}

.container.show-nav + nav li{
    transform:translateX(0);
    transition-delay: 0.3s;
}
nav ul li i{
    font-style: 20px;
    margin-right:5  0px;
}

nav ul li + li{
    margin-left: 15px;
    transform:translateX(-150%);
}

nav ul li + li + li{
    transform:translateX(-200%);
    margin-left: 30px;
}
.content img{
    max-width: 100%;
}

.content{
    max-width: 1000px;
    margin: 50px auto;

}

.content h1{
    margin: 0;
}

.content small{
    color: #555;
    font-style: italic;
}

.content p{
    color: #333;
    line-height: 1.5;
}

