@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    --line-border-fill:#9c27b0;
    --line-border-empty:#bdbdbd;
}
*{
    box-sizing: border-box;
}

body{
    background: #fff;
    font-family: 'Robot',sans-serif;
    display: flex;
    
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;

}

h1{
    color: #212121;
    margin-bottom: 92px;
    
}

.progress-container{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 350px;
}


/* just dummy purpose*/

.circle{
    /* background-color: brown; */
    margin: 15px;
    background-color: #fff;
    color: #999;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    /* to put the numbers in the middle*/
    align-items: center;
    justify-content: center;
    border: 3px solid #e0e0e0;
    transition: 0.4s ease;

}

.circle.active{
    border-color: #3498db;

}

.btn{
    /* background-color: burlywood; */
    margin-left: 10px;
    cursor: pointer;
    border-radius: 6px;
    background-color: #3498db;
    color: wheat;

    font-family: inherit;
    padding: 8px 30px;
    margin: 5px;
    font-size: 14px;

}

.btn:active{
    transform: scale(.98);

}
.btn:focus{
    outline: 0;
}

.btn:disabled{
    background: #e0e0e0;
}

.container{
    text-align: center;
}

.progress-container::before{
    content: ''; /* content property is used to with ::after or ::before psuedo-element, to insert generated content*/
    background-color: #e0e0e0;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    z-index: -1;
   /* its just not gonna do anything so no transition is requried its just the line behind it.*/
}

.progress{
    background-color: cadetblue;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 20%;
    z-index: -1;
    transition: 0.4s ease;
}

