@import url('https://fonts.googleapis.com/css2?family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&display=swap');

:root{
    --text-color-1:rgb(175, 172, 172);
    --text-color-2:rgb(161, 15, 15);
    --text-color-3:#fff;
    --background-color-1:rgb(56, 105, 240);
    --background-color-2:rgb(184, 6, 6);
    --background-color-3:rgb(206, 197, 197);

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color:var(--background-color-3) ;
    font-family: 'Neuton',sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* nav bar styling */
#home_icon{
    color:var(--text-color-2);
    padding:10px 0px;
    padding-bottom:10px;

}
.links{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: white;
    text-decoration: none;
    padding: 10px;

}
/* dotted box must be fixed first*/
.links > li > a{
    text-decoration: none;
}
.links > li > a:hover{
    text-decoration: none;
}

.links > li > a:active{
    border: none;
}

.links > li > a:focus{
    border: none;
    text-decoration: none;
}

.links > li > a:visited{
    border: none;
    text-decoration: none;
}

.red_active{
    color: var(--text-color-2);
    
}

.back:hover{
    background-color: rgb(240, 239, 239);
    border-radius: 5px;
    margin: 10px;
}

.icon{
    font-size: 25px;
    color: grey;
    margin-top: 10px;
    padding-top: 50px;
    padding: 0px 20px;
}

#search{
    width: 250px;
    height: 40%;
    border: none;
    font-size: small;
    font-weight: 100;
    
}

#search:active{
    width:300px ;
    transition: 0.5s ease-in;
}

#search:focus{
    width: 300px;
    border-color: skyblue;
    border: none;
}

.search-bar{
    display: flex;
    padding-top: 10px;
    border: 1px solid rgb(173, 172, 172);
    border-radius: 3px;
}

input:focus{
    outline: none;
    border: 1px solid rgb(56, 163, 206) 5px;
}
.white-out{
    color: rgb(199, 196, 196);
    background-color: white;
    height: 40%;
    padding-right: 10px;
    padding-left: 10px;
}

.nav{
    position: sticky;
    width: 100vw;
    height: 60px;
    box-shadow: 0px 2px 5px grey;
}

.fa-user{
    background-color: slategrey;
    color: rgb(253, 250, 250);
    border-radius: 50%;
    font-size: 35px;
    background-size: contain;
}

/* button styling*/
.question-button{
    border-radius: 50px 50px ;
    border:none;
    background-color: var(--background-color-2);
    color: white;

}

.question-button:hover{
    background-color:rgb(139, 9, 9) ;
    cursor: pointer;
}

.question-text{
    padding: 8px 20px;
    
}

